* {
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  z-index: 1;
  font-size: 15px; }

.filtres {
  border: 2px solid fuchsia;
  display: flex;
  padding: 1rem; }
  .filtres .container_ingredients, .filtres .container_appareils, .filtres .container_ustensils {
    width: 13%;
    position: relative;
    margin-right: 1rem; }
    .filtres .container_ingredients .datalist_ingredients, .filtres .container_ingredients .datalist_appareils, .filtres .container_ingredients .datalist_ustensils, .filtres .container_appareils .datalist_ingredients, .filtres .container_appareils .datalist_appareils, .filtres .container_appareils .datalist_ustensils, .filtres .container_ustensils .datalist_ingredients, .filtres .container_ustensils .datalist_appareils, .filtres .container_ustensils .datalist_ustensils {
      display: none; }
      .filtres .container_ingredients .datalist_ingredients option, .filtres .container_ingredients .datalist_appareils option, .filtres .container_ingredients .datalist_ustensils option, .filtres .container_appareils .datalist_ingredients option, .filtres .container_appareils .datalist_appareils option, .filtres .container_appareils .datalist_ustensils option, .filtres .container_ustensils .datalist_ingredients option, .filtres .container_ustensils .datalist_appareils option, .filtres .container_ustensils .datalist_ustensils option {
        color: white; }
  .filtres input {
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: .3rem;
    color: white;
    font-weight: bold; }
  .filtres img {
    width: 5%;
    position: absolute;
    left: 85%;
    width: 10%;
    top: 35%;
    filter: invert(100%) sepia(3%) saturate(1%) hue-rotate(20deg) brightness(105%) contrast(100%); }
  .filtres #filtres_ingredients {
    border: 2px solid slateblue;
    background-color: #3282F7; }
  .filtres #filtres_appareils {
    border: 2px solid mediumvioletred;
    background-color: #68D9A4; }
  .filtres #filtres_ustensils {
    border: 2px solid salmon;
    background-color: #ED6454; }

.section_tags {
  border: 2px solid red;
  padding: 1rem;
  display: flex; }
  .section_tags-tag {
    display: flex;
    align-items: center;
    background-color: #3282F7;
    border-radius: .3rem;
    padding: 1rem;
    height: 0vh; }
    .section_tags-tag p {
      padding-right: .5rem;
      color: white; }
  .section_tags-delete {
    height: 2vh;
    filter: invert(100%) sepia(3%) saturate(1%) hue-rotate(20deg) brightness(105%) contrast(100%); }

.recherche {
  border: 2px solid yellow;
  display: flex;
  padding: 1rem 2rem 1rem 1rem; }
  .recherche_input {
    border: 2px solid firebrick;
    width: 100%;
    height: 5vh;
    background-color: #E7E7E7;
    border-radius: .3rem 0rem 0rem .3rem; }
  .recherche_loupe {
    border: 2px solid gold;
    width: 3%;
    padding: .5rem;
    background-color: #E7E7E7;
    border-radius: 0rem .3rem .3rem 0rem; }

/* le header */
header {
  border: 2px solid red;
  margin-right: 2rem;
  margin-left: 2rem; }
  header h1 {
    border: 2px solid khaki;
    text-align: center;
    margin: 0 !important; }

main {
  border: 2px solid green;
  margin-right: 2rem;
  margin-left: 2rem; }

.selection_ingredients {
  display: flex;
  background-color: #3282F7;
  position: absolute; }
  .selection_ingredients-nom {
    padding: 2rem; }

.selection_appareils {
  display: flex;
  background-color: #68D9A4;
  position: absolute; }
  .selection_appareils-nom {
    padding: 2rem; }

.selection_ustensils {
  display: flex;
  background-color: #ED6454;
  position: absolute; }
  .selection_ustensils-nom {
    padding: 2rem; }

.recettes {
  border: 2px solid steelblue;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .recettes_recette {
    border: 2px solid mediumblue;
    width: 32%;
    margin: 1rem 1rem 1rem 0rem;
    background-color: #E7E7E7; }
    .recettes_recette-illustration {
      border: 2px solid forestgreen; }
      .recettes_recette-illustration img {
        width: 100%; }
    .recettes_recette-description {
      padding: .5rem; }
      .recettes_recette-description .container {
        border: 2px solid lawngreen;
        display: flex;
        justify-content: space-between; }
        .recettes_recette-description .container h2 {
          margin: 0;
          font-size: 1rem;
          font-weight: normal; }
        .recettes_recette-description .container_temps {
          align-items: center;
          display: flex; }
          .recettes_recette-description .container_temps-img {
            height: 2vh;
            margin-right: .5rem; }
          .recettes_recette-description .container_temps span {
            font-weight: bold; }
      .recettes_recette-description .ingredients_etapes {
        border: 2px solid tan;
        display: flex;
        margin-top: 1rem; }
        .recettes_recette-description .ingredients_etapes-ingredients, .recettes_recette-description .ingredients_etapes-etapes {
          width: 50%; }
          .recettes_recette-description .ingredients_etapes-ingredients p, .recettes_recette-description .ingredients_etapes-etapes p {
            margin: 0; }

/*# sourceMappingURL=style.css.map */
